/* 티켓 서비스 */

position: absolute;
width: 177px;
height: 56px;
left: 31px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* image 5 */

position: absolute;
width: 41px;
height: 41px;
left: 846px;
top: 25px;

background: url(image.png);


/* Rectangle 3 */

position: absolute;
width: 611px;
height: 60px;
left: 297px;
top: 16px;

background: #D9D9D9;
opacity: 0.2;
border-radius: 30px;


/* Frame 1 */

position: absolute;
width: 100px;
height: 100px;
left: 435px;
top: 70px;



/* Rectangle 28 */

position: absolute;
width: 998px;
height: 936px;
left: 208px;
top: 98px;

background: #FBFBFB;


/* Line 1 */

position: absolute;
width: 1454.99px;
height: 4.42px;
left: -6px;
top: 94.02px;

opacity: 0.23;
border: 1px solid #000000;
transform: rotate(-0.17deg);


/* Rectangle 29 */

position: absolute;
width: 940px;
height: 287px;
left: 236.5px;
top: 135.5px;

background: #FFFFFF;
opacity: 0.7;
border-radius: 10px;


/* LV.1 리뷰없이 못살아 */

position: absolute;
width: 385px;
height: 62px;
left: 535px;
top: 196px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Ellipse 2 */

position: absolute;
width: 216px;
height: 216px;
left: 265px;
top: 170px;

background: #D9D9D9;


/* Ellipse 3 */

position: absolute;
width: 216px;
height: 216px;
left: 265px;
top: 170px;

background: #D9D9D9;


/* image 24 */

position: absolute;
width: 176px;
height: 185px;
left: 294px;
top: 179px;

background: url(image.png);


/* Rectangle 30 */

position: absolute;
width: 163px;
height: 46px;
left: 974px;
top: 196px;

background: #D9D9D9;
border-radius: 10px;


/* 프로필수정 */

position: absolute;
width: 138px;
height: 32px;
left: 1008px;
top: 204px;

font-family: 'Glegoo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;

color: #000000;



/* Rectangle 31 */

position: absolute;
width: 602px;
height: 74px;
left: 535px;
top: 285.5px;

background: rgba(217, 217, 217, 0.3);
border-radius: 10px;


/* Line 13 */

position: absolute;
width: 60px;
height: 0px;
left: 832px;
top: 293px;

border: 1px solid #000000;
transform: rotate(89.48deg);


/* 리뷰 쓰기/확인 */

position: absolute;
width: 146px;
height: 36px;
left: 621px;
top: 305px;

font-family: 'Glegoo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* 상자 높이와 동일 */

color: #000000;



/* 포인트 확인 */

position: absolute;
width: 146px;
height: 36px;
left: 949px;
top: 305px;

font-family: 'Glegoo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* 상자 높이와 동일 */

color: #000000;



/* Rectangle 32 */

position: absolute;
width: 940px;
height: 233px;
left: 238px;
top: 467px;

background: #FFFFFF;
border-radius: 10px;


/* Rectangle 33 */

position: absolute;
width: 940px;
height: 229px;
left: 238px;
top: 751px;

background: #FFFFFF;
border-radius: 10px;


/* 공지사항 자주 묻는 질문 고객상담센터 */

position: absolute;
width: 190px;
height: 51px;
left: 306px;
top: 521px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;



/* 이벤트 기획전 설정 */

position: absolute;
width: 190px;
height: 161px;
left: 306px;
top: 801px;

font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;

