

body {
    margin: 0;              /* 브라우저 기본 여백 제거 */
    display: flex;          /* 정렬 기능을 켬 */
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    min-height: 100vh;       /* 화면 전체 높이를 기준으로 잡음 */
}

/*회원가입 박스 바깥 테두리*/
.inbox{
      padding-top: 150px;
      box-sizing: border-box;
      width: 700px;
      max-width:95%;
      height: 900px;
      border-radius: 25px;
      box-shadow: 0 0 3px #4E4E4E;
      max-width:1440px;
}


/*회원가입 박스*/
.signup-box {
    width:100%;
    padding: 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
}

/*이메일,아이디,비밀번호 간격*/
.form-group {
    margin-bottom: 10px;
    } 

/*이메일,아이디,비밀번호 라벨*/
.form-group label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

/*이메일,아이디,비밀번호 입력창*/
.form-group input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #4E4E4E99;
    border-radius: 15px;
    box-sizing: border-box;
}

/*회원가입 버튼*/
.signup-button {
    margin-top: 20px;
    width: 100%;
    height:69px;
    padding: 15px;
    color:white;
    font-size: 32px;
    font-weight: 700;
    background-color: #5235A8;
    border: none;
    border-radius: 15px;
    border: 1px solid #4E4E4E99;
    cursor: pointer;
    padding: 0 0 5px;
    
}

/* 이미 계정이 있으신가요 */
.login-link {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
}

/*이미 계정이 있으신가요? 텍스트*/
.login-link span {
    color: #888;
}

/*이미 계정이.. 텍스트 옆 로그인 텍스트 */
.login-link a {
    color: #5235A8;
    text-decoration: none;
    font-weight: 600px;
    
}

/* 입력이 잘못되었을 때 나오는 에러 메시지 */
.error-message {
    color: #e04a4a; /* 빨간색 에러 메시지 */
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    height: 12px; /* 메시지가 없어도 공간 차지 */
}
