body {
    margin: 0;              /* 브라우저 기본 여백 제거 */
    display: flex;          /* 정렬 기능을 켬 */
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    min-height: 100vh;       /* 화면 전체 높이를 기준으로 잡음 */
}

/*회원가입 박스 바깥 테두리*/
.inbox {
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 450px;
    height: auto;
    max-width: 90%;
    border-radius: 25px;
    box-shadow: 0 0 3px #4E4E4E;
}

.login-box {
    margin-top: 10px;
    width: 100%;
    padding: 20px 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
}

.form-group {
    margin-bottom: 20px;
}

/*아이디,비밀번호 라벨*/
.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #4E4E4E;
    margin-bottom: 10px;
}

/*아이디,비밀번호 입력창*/
.form-group input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #4E4E4E99;
    border-radius: 15px;
    box-sizing: border-box;
}

/* 로그인 버튼 */
.login-button {
    margin-top: 20px;
    width: 100%;
    height: 69px;
    padding: 15px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    background-color: #5235A8;
    border-radius: 15px;
    border: 1px solid #4E4E4E99;
    cursor: pointer;
    padding: 0 0 5px;
}

/* 하단 회원가입 링크 */
.signup-link {
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    color: #888;
}

.signup-link span {
    color: #888;
}

/* 링크 공통 스타일 (회원가입/로그인 링크) */
.signup-link a, .login-link a {
    color: #5235A8;
    text-decoration: none;
    font-weight: 600;
}

/* 에러 메시지 공간 */
.error-message {
    color: #e04a4a;
    font-size: 13px;
    margin-top: 5px;
    display: none; /* 기본은 숨김 */
}

/* 자동 로그인 및 비밀번호 찾기 옵션 */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 16px;
    color: #4E4E4E;
}

/* 자동 로그인 & 체크박스 전체 */
.auto-login {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 커스텀 체크박스 스타일 */
.auto-login input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-right: 10px;
    accent-color: #5235A8;
    cursor: pointer;
    border: 1px solid #4E4E4E;
    border-radius: 50%;
}

/* 체크되었을 때의 스타일 */
.auto-login input[type="checkbox"]:checked {
    background-color: #5235A8;
}

/* 체크되었을 때 내부에 체크 표시(V) 넣기 */
.auto-login input[type="checkbox"]:checked::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '✔';
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* 비밀번호 찾기 링크 스타일 */
.forgot-pw {
    color: #4E4E4E;
    text-decoration: none;
}