@charset "UTF-8";
/* 전체 컨테이너 */
.container{
    width: 100%;
    max-width: 1200px;
    margin:auto 0;
    font-family: Pretendard;
}
/* 헤더 영역 */
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee; 
}
/* 아우름 로고 */
.logo{
    font-size: 45px;
    font-weight: bold;
}
/* 검색란 */
/* input-입력칸/a-이동칸 */
.search-bar input{
    border-radius: 20px;
    background-color: #D9D9D9;
    width: 100%;
    height:auto;
    margin: auto 0 ;
    border: none;
    
}